.header {
  border-bottom: 1px solid #ececec;
}

/* site nav */

.header-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.site-nav__list {
  display: flex;
  margin-left: 93px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--primary-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav__link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms var(--primary-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-contacts__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--primary-cubic);
  .header-contacts__link:hover & {
    fill: var(--accent-color);
  }
}
