.section-works {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.works-list {
  display: flex;
}
.works-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.works-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(47, 48, 58, 0.8);
}
.works-list__description {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.works-list__image {
  display: block;
}
