.modal-tittle {
  margin-bottom: 12px;
  display: block;
  text-align: center;
  line-height: calc(23 / 20);
  font-size: 20px;

  color: var(--title-text-color);
}
.modal-form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.modal-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.modal-icon-wrapper {
  position: relative;
}
.modal-form-input {
  padding: 11px 12px 11px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--primary-cubic);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  transition: fill 250ms var(--primary-cubic);
  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  &::placeholder {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    opacity: 0.5;
  }
}

.modal-checkbox-label {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  &::before {
    content: '';
    margin-right: 7px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #212121;
    border-radius: 3px;
    cursor: pointer;
  }
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.modal-checkbox:focus + .modal-checkbox-label::before {
  border-color: var(--accent-color);
}
.checkbox-label-link {
  color: var(--accent-color);
}
